/* ========== banner ========== */

.banner {
    position: relative;
    width: 100%;
    height: 610px;
    padding: 0 100px;
    margin-bottom: 15px;
}
.banner .sec_content {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--grey-background-1);
    border: 1px solid var(--light-border);
    border-radius: 12px;
    overflow: hidden;
}

.banner .sec_content .background_1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 625px;
    height: 100%;
}
.banner .sec_content .background_1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    border-top-left-radius: 285px;
    transform: translateY(45px);
    z-index: 1;
}
.banner .sec_content .background_1 .background_items {
    position: relative;
    width: max-content;
    height: 100%;
    display: flex;
    align-items: flex-end;
    transform: translateX(-40px);
    z-index: 5;
}
.banner .sec_content .background_1 .background_items .items_inner {
    position: relative;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: flex-end;
    transform: translateX(-30px);
    z-index: 5;
}
.banner .sec_content .background_1 .background_items .img_sec {
    position: relative;
    display: flex;
}
.banner .sec_content .background_1 .background_items .img_sec img {
    position: relative;
    width: 375px;
    height: auto;
}

.banner .sec_content .background_1 .background_items .background_status {
    position: absolute;
    width: 350px;
    padding: 15px;
    background: var(--light-color);
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
}
.banner .sec_content .background_1 .background_items .background_status.status_1 {
    top: -8%;
    right: -45%;
}
.banner .sec_content .background_1 .background_items .background_status.status_2 {
    top: 29%;
    right: -72%;
}
.banner .sec_content .background_1 .background_items .background_status.status_3 {
    top: 68%;
    right: -55%;
}
.banner .sec_content .background_1 .background_items .background_status .status_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.banner .sec_content .background_1 .background_items .background_status .status_inner h3 {
    position: absolute;
    right: 0;
    top: -70px;
    font-size: 68px;
    font-weight: 600;
    line-height: 1;
    color: transparent;
    -webkit-text-stroke: 1px var(--light-color);
}
.banner .sec_content .background_1 .background_items .background_status .status_inner img {
    position: relative;
    height: 15px;
    width: auto;
}
.banner .sec_content .background_1 .background_items .background_status .status_inner h5 {
    position: relative;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
    color: var(--dark-color);
}
.banner .sec_content .background_1 .background_items .background_status .status_inner p {
    position: relative;
    font-size: 12px;
    color: var(--dark-color-1);
}
.banner .sec_content .background_1 .background_items .background_status .status_inner span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: var(--dark-color-1);
}

.banner .sec_content .background_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
}
.banner .sec_content .background_2 img {
    position: relative;
}

.banner .sec_content .banner_content {
    position: relative;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 15;
}
.banner .sec_content .banner_content .heading_sec {
    position: relative;
    display: flex;
    flex-direction: column;
}
.banner .sec_content .banner_content .heading_sec p {
    position: relative;
    font-size: 16px;
    color: var(--dark-color-1);
}

.banner .sec_content .banner_content .search_sec {
    position: relative;
    margin-top: 30px;
    font-size: 13px;
    color: var(--dark-color-1);
}
.banner .sec_content .banner_content .search_sec .search_input_box {
    position: relative;
    margin-top: 10px;
    width: 400px;
    height: 57px;
}
.banner .sec_content .banner_content .search_sec .search_input_box input {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    padding: 10px 30px;
    padding-right: 210px;
    border-radius: 120px;
    background: var(--light-color);
    font-size: 15px;
    color: var(--dark-color-1);
}
.banner .sec_content .banner_content .search_sec .search_input_box button.desk_search_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
    height: 100%;
    border-radius: 120px;
    border: 1px solid var(--theme-color);
    background: var(--theme-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: var(--light-color);
}
.banner .sec_content .banner_content .search_sec .search_input_box button.res_search_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 100%;
    border-radius: 120px;
    border: 1px solid var(--theme-color);
    background: var(--theme-color);
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}
.banner .sec_content .banner_content .search_sec .search_input_box button.res_search_btn img {
    position: absolute;
    width: 35px;
    height: auto;
}



/* =============== Responsive start ============== */

@media (max-width: 1600px) {
    .banner .sec_content .background_2 {
        display: none;
    }   
}

@media (max-width: 1499px) {
    .banner {
        padding: 0 50px;
    }  
}

@media (max-width: 1367px) {
    .banner .sec_content .background_1 {
        display: none;
    }
    .banner .sec_content .background_2 {
        display: flex;
        justify-content: flex-end;
    } 
    .banner .sec_content .background_2 img {
        transform: translateX(150px);
    } 
}

@media (max-width: 1099px) {
    .banner {
        height: 450px;
    } 
    .banner .sec_content .background_2 {
        justify-content: center;
    } 
    .banner .sec_content .background_2 img {
        transform: translateX(0);
        height: 95%;
    } 
    .banner .sec_content .banner_content {
        padding: 50px;
        align-items: center;
        text-align: center;
        background: rgba(255, 255, 255, 0.9);
    }
}

@media (max-width: 768px) {
    .banner .sec_content .banner_content .heading_sec h1 {
        font-size: 42px;
        line-height: 1.15;
    }
}

@media (max-width: 575px) {
    .banner {
        padding: 0 35px;
        height: 425px;
    } 
    .banner .sec_content .banner_content {
        padding: 0 35px;
    }
    .banner .sec_content .banner_content .heading_sec p {
        font-size: 13px;
    }
    .banner .sec_content .banner_content .heading_sec h1 {
        font-size: 34px;
    }
    .banner .sec_content .banner_content .search_sec .search_input_box {
        width: 325px;
    }
    .banner .sec_content .banner_content .search_sec .search_input_box input {
        padding-right: 77px;
    }
    .banner .sec_content .banner_content .search_sec .search_input_box button.desk_search_btn {
        display: none;
    }
    .banner .sec_content .banner_content .search_sec .search_input_box button.res_search_btn {
        display: flex;
    }
}

@media (max-width: 450px) {
    .banner {
        padding: 0 25px;
        height: 380px;
    } 
    .banner .sec_content .banner_content {
        padding: 0 25px;
    }
    .banner .sec_content .banner_content .search_sec .search_input_box {
        width: 100%;
    }
}

/* =============== Responsive end ============== */



/* ========== restaurant section ========== */

.restaurant_section {
    position: relative;
    width: 100%;
    padding: 35px 75px;
}
.restaurant_section .sec_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.restaurant_section .sec_content .box_head {
    position: relative;
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
}
.restaurant_section .sec_content .box_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--dark-color-1);
}
.restaurant_section .sec_content .box_head .search_sec {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 25px;
    border: 1px solid var(--light-border);
    height: 60px;
    border-radius: 120px;
    margin-left: auto;
}
.restaurant_section .sec_content .box_head .search_sec img {
    position: relative;
    width: 45px;
    padding-right: 15px;
    border-right: 1px solid var(--light-border);
}
.restaurant_section .sec_content .box_head .search_sec input {
    position: relative;
    width: 350px;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--dark-color-1);
}

.restaurant_section .sec_content .box_head button {
    position: relative;
    height: 60px;
    padding: 15px 55px;
    background: var(--theme-color);
    border: none;
    border-radius: 12px;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.restaurant_section .sec_content .box_head button i {
    position: relative;
    font-size: 18px;
    margin-right: 8px;
}

.restaurant_section .sec_content .restaurant_box_sec {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box {
    position: relative;
    width: 25%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner {
    position: relative;
    width: 100%;
    height: 190px;
    border-radius: 15px;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40.2%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
    z-index: 15;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner::after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
    z-index: 15;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .swiper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .swiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .swiper .swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background: linear-gradient(-25deg, rgba(3, 8, 31, 0.295) 10%, rgba(3, 8, 31, 0.13) 60%, rgba(255, 255, 255, 0) 100%);
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .swiper .swiper-slide img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .pagination {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 15;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .pagination .swiper_pagination {
    position: relative;
    top: inherit;
    bottom: inherit;
    left: inherit;
    transform: inherit !important;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .pagination .swiper_pagination span.swiper-pagination-bullet {
    background: var(--light-color);
    opacity: 1;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_banner .pagination .swiper_pagination span.swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 20px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content {
    position: relative;
    margin-top: 10px;
    width: 100%;
    background: var(--grey-background-2);
    border-radius: 15px;
    border-top-left-radius: 0;
    box-shadow: 5px 5px 6px 2px rgba(139, 139, 139, 0.24);
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type {
    position: absolute;
    top: -60px;
    left: 0;
    height: 60px;
    width: 40%;
    background: var(--grey-background-2);
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
    z-index: 5;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #fff;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 var(--grey-background-2);
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type p {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type p.veg {
    color: var(--veg-color);
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type p.non_veg {
    color: var(--non-veg-color);
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type p i {
    position: relative;
    font-size: 18px;
}
.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .type p span {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items {
    position: relative;
    width: 100%;
    padding: 20px 25px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief h4 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-color-1);
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief p {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color-1);
    margin-top: 5px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief h6 {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief h6 i {
    margin-left: 5px;
    color: var(--theme-color);
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief h6 span {
    margin-left: 15px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief a {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var( --green-color-2);
    margin-top: 5px;
    cursor: pointer;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .restaurants_brief a i {
    margin-right: 8px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .avalability_status {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .avalability_status p {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .avalability_status p.open {
    color: var(--veg-color);
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .avalability_status p.close {
    color: var(--red-color);
}

.restaurant_section .sec_content .restaurant_box_sec .restaurant_box .box_inner .box_content .content_items .avalability_status p.closing-soon {
    color: var(--yellow-color);
}

@media (max-width: 1499px) {
    .restaurant_section {
        padding: 25px 25px;
    }
}

@media (max-width: 1299px) {
    .restaurant_section .sec_content .restaurant_box_sec .restaurant_box {
        width: 33.33%;
    }
}

@media (max-width: 991px) {
    .restaurant_section .sec_content .box_head {
        flex-direction: column;
        align-items: baseline;
    }
    .restaurant_section .sec_content .box_head .search_sec {
        width: 100%;
        margin-top: 20px;
    }
    .restaurant_section .sec_content .box_head button {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .restaurant_section .sec_content .restaurant_box_sec .restaurant_box {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .restaurant_section .sec_content .restaurant_box_sec .restaurant_box {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 575px) {
    .restaurant_section {
        padding: 25px 15px;
    }
}

@media (max-width: 450px) {
    .restaurant_section {
        padding: 25px 10px;
    }
}