.auth_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.auth_wrapper .left_sec {
    position: relative;
    width: 50%;
    display: flex;
    border-right: 6px solid var(--theme-color);
}

.auth_wrapper .left_sec img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth_wrapper .right_sec {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
}

.auth_wrapper .right_sec .right_background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.auth_wrapper .right_sec .right_background img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth_wrapper .right_sec .right_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.9);
}

.auth_wrapper .right_sec .right_inner .logo_sec {
    position: relative;
    display: flex;
}

.auth_wrapper .right_sec .right_inner .logo_sec img {
    position: relative;
    height: 65px;
    width: max-content;
}

.auth_wrapper .right_sec .right_inner .content_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.auth_wrapper .right_sec .right_inner .content_sec h3{
    position: relative;
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    color: var(--dark-color-1);
}

.auth_wrapper .right_sec .right_inner .content_sec p{
    position: relative;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    color: var(--dark-color-1);
    margin-top: 10px;
}

.auth_wrapper .right_sec .right_inner .form_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.auth_wrapper .right_sec .right_inner .form_sec .input_sec{
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 35px;
    border-radius: 120px;
    background: var(--grey-background-5);
    display: flex;
}

.auth_wrapper .right_sec .right_inner .form_sec .input_sec i{
    position: relative;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--dark-color-1);
}

.auth_wrapper .right_sec .right_inner .form_sec input{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 5px 0;
    font-size: 17px;
    color: var(--dark-color-1);
    background-color: transparent;
}

.auth_wrapper .right_sec .right_inner .form_sec button{
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 120px;
    color: var(--light-color);
    background-color: var(--theme-color);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.auth_wrapper .right_sec .right_inner .form_sec button i{
    margin-right: 10px;
}

.auth_wrapper .right_sec .right_popup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--modal-background);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}
.auth_wrapper .right_sec .right_popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: all 0.3s;
}

.auth_wrapper .right_sec .right_popup .otp_popup {
    position: relative; 
    width: 550px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-border);
    border-radius: 12px;
    padding: 35px 40px;
    background: #FFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    transform: translateY(100px);
    transition:  transform 0.7s ease-in-out;
}
.auth_wrapper .right_sec .right_popup.active .otp_popup {
    transform: translateY(0);
    transition:  transform 0.5s ease-in-out;
}

.auth_wrapper .right_sec .right_popup .otp_popup .close_btn {
    position: absolute;
    top: -30px;
    right: -30px;
}
.auth_wrapper .right_sec .right_popup .otp_popup .close_btn a {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--dark-color-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 26px;
    cursor: pointer;
}
.auth_wrapper .right_sec .right_popup .otp_popup .popup_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_wrapper .right_sec .right_popup .otp_popup .popup_head h3 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: var(--dark-color-1);
}

.auth_wrapper .right_sec .right_popup .otp_popup .popup_head p {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-color-1);
    margin-top: 5px;
}

.auth_wrapper .right_sec .right_popup .otp_popup .otp_input_sec {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.auth_wrapper .right_sec .right_popup .otp_popup .otp_input_sec input {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid var(--light-border);
    border-radius: 6px;
    background: #FFF;
    margin: 0 6px;
    outline: none;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
}

.auth_wrapper .right_sec .right_popup .otp_popup .otp_input_sec .input_box:last-child {
    margin-right: 0;
}

.auth_wrapper .right_sec .right_popup .otp_popup .resend_otp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auth_wrapper .right_sec .right_popup .otp_popup .resend_otp p {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-color-1);
}

.auth_wrapper .right_sec .right_popup .otp_popup .resend_otp p a {
    position: relative;
    text-decoration: underline;
    color: var(--theme-color);
    cursor: pointer;
}

.auth_wrapper .right_sec .right_popup .otp_popup button {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 120px;
    color: var(--light-color);
    background-color: var(--theme-color);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.auth_wrapper .right_sec .right_popup .otp_popup button i {
    margin-right: 10px;
}