.modal_wrapper  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 80px 100px;
    background-color: var(--modal-background);
    display: flex;
    justify-content: center; 
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal_wrapper.active {
    opacity: 1;
    pointer-events: initial;
    transition: all 0.3s;
}

.modal_wrapper .modal_box  {
    position: relative;
    width: 750px;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: var( --light-color);
    transform: translateY(-100px);
    transition: all 0.8s;
}
.modal_wrapper.active .modal_box  {
    transform: translateY(0);
    transition: all 0.8s;
}

.modal_wrapper .modal_box .modal_close {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 10;
}

.modal_wrapper .modal_box .modal_close a {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 26px;
    cursor: pointer;
    
}
.modal_wrapper .modal_box .modal_close a::before,
.modal_wrapper .modal_box .modal_close a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--theme-color);
    opacity: 0.7;
}
.modal_wrapper .modal_box .modal_close a::before {
    animation: pulse 2s ease-in-out infinite;
}
.modal_wrapper .modal_box .modal_close a::after {
    animation: pulse 2s 1s ease-in-out infinite;
}
@keyframes pulse {
    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

.modal_wrapper .modal_box .modal_close a i {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--theme-color);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_wrapper .modal_box .modal_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_wrapper .modal_box .modal_inner .modal_img_sec {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
}



.modal_wrapper .modal_box .modal_inner .modal_img_sec img {
    position: relative;
    width: 100%;
    height: auto;
}

.modal_wrapper .modal_box .modal_inner .content_sec {
    position: relative;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_head {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_head li {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_head li span {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: var( --dark-color-1);
    line-height: 1.9;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_head li i {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--light-border);
    margin: 0 10px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_head p {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-color-1);
    margin-top: 20px;
    margin-left: 30px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}


@media (max-width: 991px) {
    .modal_wrapper  {
        padding: 50px;
    }
    
    .modal_wrapper .modal_box  {
        width: 100%;
    }  
    
    .modal_wrapper .modal_box .modal_inner .content_sec {
        padding: 20px 40px;
    }
}

@media (max-width: 768px) {
    .modal_wrapper .modal_box .modal_inner .content_sec {
        padding: 20px 40px;
    }
}

@media (max-width: 678px) {
    .modal_wrapper .modal_box .modal_inner .content_sec {
        padding: 20px 20px;
    }
}

@media (max-width: 575px) {
    .modal_wrapper  {
        padding: 0;
    }
    .modal_wrapper .modal_box .modal_close {
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    .modal_wrapper .modal_box .modal_close a {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_head li span {
        font-size: 15px;
    }
    
    .modal_wrapper .modal_box .modal_inner .content_sec .content_head li i {
        font-size: 15px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_head p {
        font-size: 15px;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .modal_wrapper  {
        padding: 20px;
    }
    .modal_wrapper .modal_box .modal_close {
        position: absolute;
        top: -15px;
        right: -15px;
    }
    .modal_wrapper .modal_box .modal_close a {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}



/* ============== Meal Deal Modal ============== */

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box {
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px;
    background: var(--grey-background-4);
    border-radius: 12px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box:hover {
    background: var(--dark-color-1);
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_img {
    position: relative;
    width: 115px;
    display: flex;
    padding-right: 15px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_img::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, var(--light-color));
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_img img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name {
    position: relative;
    width: calc(100% - 315px);
    display: flex;
    padding-left: 20px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name h4 {
    position: relative;
    font-size: 25px;
    color: var(--dark-color-1);
    font-weight: 700;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box:hover .list_product_name h4 {
    color: var(--theme-color);
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .minus {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .minus img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box:hover .list_count .minus img {
    background: var(--light-color);
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .number {
    position: relative;
    width: 80px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    border-radius: 8px;
    /* margin: 0 15px; */
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .number h5 {
    position: relative;
    font-size: 20px;
    color: var(--dark-color-1);
    font-weight: 700;
}
.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .plus {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
    
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .plus img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box:hover .list_count .plus img {
    background: var(--light-color);
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list button {
    position: relative;
    width: 280px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: var(--theme-color);
    color: var(--light-color);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list button span {
    font-size: 20px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list p {
    position: relative;
    font-size: 13px;
    color: var(--dark-color-1);
    font-weight: 400;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list p {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--dark-color-1);
    margin-right: 30px;
    cursor: pointer;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list button {
    position: relative;
    width: 280px;
    height: 60px;
    display: flex;
    border-radius: 8px;
    background-color: var(--green-color);
    align-items: center;
    padding: 0 20px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--light-color);
    cursor: pointer;
    justify-content: center;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list button a  {
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    margin-right: 25px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list button a img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list {
        flex-direction: column;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list button {
        width: 100%;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .list_btns .top_list p {
        font-size: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_img {
        width: 100px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name {
        width: calc(100% - 280px);
        padding-left: 15px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name h4 {
        font-size: 20px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count {
        width: 180px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .minus {
        width: 40px;
        height: 40px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .number {
        width: 60px;
        height: 60px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .plus {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 678px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_img {
        width: 80px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name {
        width: calc(100% - 190px);
        padding-left: 15px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name h4 {
        font-size: 16px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count {
        width: 110px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .minus {
        width: 25px;
        height: 25px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .number {
        width: 40px;
        height: 40px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .plus {
        width: 25px;
        height: 25px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list {
        flex-direction: column;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list p {
        margin-right: 0;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .list_btns .bottom_list button {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 450px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_img {
        width: 60px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name {
        width: calc(100% - 135px);
        padding-left: 10px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_product_name h4 {
        font-size: 14px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count {
        width: 90px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .minus {
        width: 20px;
        height: 20px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .number {
        width: 30px;
        height: 30px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .number h5 {
        font-size: 15px;
        font-weight: 600;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .list_box .list_count .plus {
        width: 20px;
        height: 20px;
    }
}


/* ============== Add your request ============== */

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_img {
    position: relative;
    width: 115px;
    display: flex;
    padding-right: 10px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_img::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, var(--light-border));
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_img img {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_name {
    position: relative;
    width: calc(100% - 120px);
    display: flex;
    padding-left: 10px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_name h4 {
    position: relative;
    font-size: 30px;
    color: var(--theme-color);
    font-weight: 700;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list textarea {
    position: relative;
    width: 100%;
    height: 320px;
    background: var(--grey-background-3);
    display: flex;
    border-radius: 8px;
    margin-top: 15px;
    padding: 30px;
    border: none;
    font-size: 17px;
    color: var(--dark-color-1);
    resize: none;
    box-shadow: 5px 6px 8px rgba(0,0,0,0.2);
    margin-top: 30px;
}

@media (max-width: 860px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_img {
        width: 100px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_name {
        padding-left: 0;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_name h4 {
        font-size: 21px;
    }
}
@media (max-width: 575px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_img {
        width: 75px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_name {
        width: calc(100% - 90px);
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .product_box .product_name h4 {
        font-size: 14px;
    }
}

/* ============== costomize pizza ============== */


.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box {
    position: relative;
    width: 100%;
    padding: 70px 25px 27px 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-border);
    border-radius: 12px;
    margin-top: 50px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_head {
    position: absolute;
    top: -30px;
    left: 30px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
    background: var(--light-background);
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_head .img {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #FFA500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    z-index: 5;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_head .img img {
    width: 30px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_head h4 {
    position: relative;
    height: 50px;
    background-color: var(--dark-color-1);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 20px;
    color: var(--light-color);
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label {
    position: relative;
    width: 32%;
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 20px;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label input[type="checkbox"] {
    display: none;
}



.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label span {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--light-color);
    border: 2px solid var(--light-border);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: var(--light-color);
    font-size: 17px;
    transition: all 0.5s;
    cursor: pointer;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label input[type="checkbox"]:checked ~ span {
    background: var(--green-color);
    border: 2px solid var(--green-color);
    transition: all 0.5s;
}

.modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label p {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-color-1);
}

@media (max-width: 768px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label {
        width: 49%;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label p {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_inner label {
        width: 100%;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_head .img {
        width: 55px;
        height: 55px;
    }
    .modal_wrapper .modal_box .modal_inner .content_sec .content_list .customize_sec .customize_box .box_head h4 {
        height: 45px;
        font-size: 16px;
    }
}


/* product details modal */


/* ============== Location modal ============= */

.modal_wrapper .location_modal_box {
    width: 1000px;
    height: 565px;
}

.modal_wrapper .modal_box .modal_inner .modal_head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 35px;
}

.modal_wrapper .modal_box .modal_inner .modal_head h3 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color-1);
}

.modal_wrapper .modal_box .modal_inner .location_sec {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    padding: 0px 35px;
    padding-bottom: 35px;
}
.modal_wrapper .modal_box .modal_inner .location_sec .map_sec {
    position: relative;
    width: 50%;
    height: 460px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}

.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec {
    position: relative;
    width: 50%;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .detect_search_sec button {
    position: relative;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background: var(--theme-color);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: var(--light-color);
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .detect_search_sec button i {
    position: relative;
    font-size: 18px;
    margin-right: 8px;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .detect_search_sec .input_sec {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid var(--light-border);
    border-radius: 6px;
    padding: 6px 0;
    display: flex;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .detect_search_sec .input_sec a {
    position: relative;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--light-border);
    font-size: 16px;
    color: var(--grey-background-5);
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .detect_search_sec .input_sec input {
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 15px;
    color: var(--dark-color-1);
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .complete_address_btn {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .complete_address_btn button {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid var(--theme-color);
    cursor: pointer;
    background: transparent;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: var(--theme-color);
}

.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec {
    position: relative;
    margin-top: 35px;
    width: 100%;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.6s;
}

.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec.active {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.6s;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box {
    position: relative;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box.halfWidth {
    width: 47.5%;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box.fullWidth {
    width: 100%;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    border: 1px solid var(--light-border);
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    color: var(--dark-color-1);
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box input::placeholder {
    color: var(--dark-color-1);
    opacity: 0.3;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box span {
    position: absolute;
    top: -6px;
    left: 10px;
    line-height: 1;
    color: var(--green-color);
    background: var(--light-background);
    padding: 0 5px;
    font-size: 12px;
    font-weight: 500;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec {
    position: relative;
    margin-top: 2px;
    width: 100%;
    display: flex;
    align-items: center;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label {
    position: relative;
    margin-right: 15px;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label:last-child {
    margin-right: 0;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label input[type="radio"] {
    display: none;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label span {
    position: relative;
    border: 1px solid var(--dark-color-1);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    color: var(--dark-color-1);
    opacity: 0.3;
    font-size: 13px;
    font-weight: 500;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label span i {
    position: relative;
    margin-right: 6px;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label input[type="radio"]:checked ~ span {
    opacity: 1;
    background: var(--dark-color-1);
    color: var(--light-color);
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_btn {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_btn button {
    position: relative;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background: var(--theme-color);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: var(--light-color);
}


/* =========== Responsive Start ============= */

@media (max-width: 1099px) {
    .modal_wrapper .location_modal_box {
        width: 600px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec {
        flex-direction: column;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .map_sec {
        width: 100%;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec {
        width: 100%;
        padding-left: 0;
        padding-top: 35px;
    }
}

@media (max-width: 575px) {
    .modal_wrapper .modal_box .modal_inner .modal_head {
        padding: 20px 25px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec {
        margin-top: 0;
        padding: 0 25px;
        padding-bottom: 25px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .map_sec {
        height: 400px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec {
        padding-top: 25px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .form_box.halfWidth {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .modal_wrapper .modal_box .modal_inner .modal_head {
        padding: 15px 20px;
    }
    .modal_wrapper .modal_box .modal_inner .modal_head h3 {
        font-size: 18px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec {
        padding: 0 20px;
        padding-bottom: 20px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .map_sec {
        height: 350px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label {
        margin-right: 10px;
    }
    .modal_wrapper .modal_box .modal_inner .location_sec .address_fillup_sec .form_sec form .choise_sec label span {
        padding: 5px 12px;
    }
}



/* =========== Responsive end ============= */









/* my bucket */

.modal_wrapper .cart_part{
    position: relative;
    width: 400px;
    background: var(--light-color);
    height: max-content;
}

.modal_wrapper .cart_part .part_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 100px;
}

.modal_wrapper .cart_part .part_inner .cart_head_sec{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: var(--green-color);
}

.modal_wrapper .cart_part .part_inner .cart_head_sec .head_img{
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    margin-right: 20px;
}

.modal_wrapper .cart_part .part_inner .cart_head_sec .head_img img{
    position: relative;
    width: 100%;
    height: auto;
}

.modal_wrapper .cart_part .part_inner .cart_head_sec h3{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    color: var(--light-color);
}

.modal_wrapper .cart_part .part_inner .cart_item_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box{
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--light-border);
    align-items: center;
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_number{
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-color);
    border-radius: 50%;
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_number h3{
    position: relative;
    font-size: 21px;
    font-weight: 700;
    color: var(--light-color);
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_des{
    position: relative;
    width: calc(100% - 55px);
    padding-left: 20px;
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_des h4{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--green-color);
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_des h6{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-color-1);
    margin: 3px 0;
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_des p{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color-1);
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_action{
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    cursor: pointer;
}

.modal_wrapper .cart_part .part_inner .cart_item_sec .item_box .item_action img{
    position: relative;
    width: 100%;
    height: auto;
}

.modal_wrapper .cart_part .part_inner .cart_price_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border-bottom: 1px solid var(--light-border);
}

.modal_wrapper .cart_part .part_inner .cart_price_sec h4{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-color);
    margin-top: 10px;
}

.modal_wrapper .cart_part .part_inner .cart_price_sec h4:first-child{
    margin-top: 0;
}

.modal_wrapper .cart_part .part_inner .cart_price_sec h4 span{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: var( --dark-color-1);
}

.modal_wrapper .cart_part .part_inner .price_total{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.modal_wrapper .cart_part .part_inner .price_total button{
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
    background-color: var(--theme-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border: none;
    cursor: pointer;
}

.modal_wrapper .cart_part .part_inner .price_total button h6{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
}

.modal_wrapper .cart_part .part_inner .price_total button h2{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--light-color);
}

.modal_wrapper .cart_part .part_inner .search_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.modal_wrapper .cart_part .part_inner .search_sec .sec_box{
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid var(--light-border);
    border-radius: 120px;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.modal_wrapper .cart_part .part_inner .search_sec .sec_box img{
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.modal_wrapper .cart_part .part_inner .search_sec .sec_box input{
    position: relative;
    width: calc(100% - 25px);
    height: 60px;
    display: flex;
    background: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

.modal_wrapper .cart_part .part_inner .delivary_sec{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--light-border);
    padding: 20px;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box{
    position: relative;
    width: 50%;
    display: flex;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box:first-child{
    padding-right: 20px;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box:last-child{
    padding-left: 20px;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box:first-child::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, var(--light-border));
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box .box_inner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-border);
    padding: 15px 0;
    border-radius: 12px;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box img {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box h6 {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-color);
    margin: 3px 0;
}

.modal_wrapper .cart_part .part_inner .delivary_sec .delivary_box p {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
}

.modal_wrapper .cart_part .part_inner .btns_sec {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal_wrapper .cart_part .part_inner .btns_sec .checkout_sec {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid var(--light-border);
}

.modal_wrapper .cart_part .part_inner .btns_sec .checkout_sec button {
    position: relative;
    width: 49%;
    height: 70px;
    display: flex;
    border-radius: 8px;
    background-color: var(--green-color);
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--light-color);
    cursor: pointer;
}
.modal_wrapper .cart_part .part_inner .btns_sec .checkout_sec button:first-child {
    background-color: var(--theme-color);
}

.modal_wrapper .cart_part .part_inner .btns_sec .checkout_sec button a {
    position: relative;
    display: flex;
    font-size: 16px;
}

.modal_wrapper .cart_part .part_inner .btns_sec .checkout_sec button a:first-child {
    margin-right: 7px;
}
.modal_wrapper .cart_part .part_inner .btns_sec .checkout_sec button a:last-child {
    margin-left: 7px;
}




/* =============== Filter ============== */

.page_filter {
    position: fixed;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100vh;
    background: #FFF;
    z-index: 1199;
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
    transition: left 0.6s ease-in-out;
}
.page_filter.active {
    left: 0;
    transition: left 0.6s ease-in-out;
}
.page_filter .filter_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page_filter .filter_inner .filter_head {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 2px double var(--dark-color);
}
.page_filter .filter_inner .filter_head h3 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: var(--theme-color);
}
.page_filter .filter_inner .filter_head a {
    position: relative;
    font-size: 18px;
    cursor: pointer;
    color: var(--dark-color-1);
}

.page_filter .filter_inner .filter_content {
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
.page_filter .filter_inner .filter_content::-webkit-scrollbar {
    display: none;
}

.page_filter .filter_inner .filter_content .filter_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-background-5);
}
.page_filter .filter_inner .filter_content .filter_box:last-child {
    border-bottom: none;
}
.page_filter .filter_inner .filter_content .filter_box .box_head {
    position: relative;
    width: 100%;
    padding: 15px 30px;
    border-bottom: 1px solid var(--grey-background-5);
}
.page_filter .filter_inner .filter_content .filter_box .box_head h5 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-color-1);
}
.page_filter .filter_inner .filter_content .filter_box .box_items {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items.foodType {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items.categories label {
    margin-bottom: 20px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label:last-child {
    margin-bottom: 0;
}
.page_filter .filter_inner .filter_content .filter_box .box_items.foodType label {
    width: 50%;
    margin-bottom: 0;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label input[type="checkbox"] {
    display: none;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label .check_box {
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid var(--grey-background-5);
    border-radius: 4px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label .check_box img {
    position: absolute;
    left: 2px;
    bottom: 3px;
    width: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label p {
    position: relative;
    font-size: 16px;
    margin-left: 8px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label input[type="checkbox"]:checked ~ .check_box img {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}

.page_filter .filter_inner .filter_content .filter_box .box_items label input[type="radio"] {
    display: none;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label .radio_box {
    position: relative;
    width: 23px;
    height: 23px;
    border: 3px solid var(--grey-background-5);
    border-radius: 50%;
    transition: all 0.5s ease;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label input[type="radio"]:checked ~ .radio_box {
    border: 6px solid var(--theme-color);
    transition: all 0.5s ease;
}
.page_filter .filter_inner .filter_content .filter_box .box_items label .stars {
    position: relative;
    margin-left: 12px;
    display: flex;
    align-items: center;   
}
.page_filter .filter_inner .filter_content .filter_box .box_items label .stars i {
    position: relative;
    margin-right: 7px; 
    font-size: 18px;
    color: #ffe234;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_slider {
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--grey-background-4);
    border-radius: 20px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_slider .progress {
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 20px;
    background: var(--theme-color);
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input {
    position: relative;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: var(--theme-color);
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--theme-color);
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box:last-child {
    margin-bottom: 0;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box span {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-color-1);
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box input {
    position: relative;
    -moz-appearance: textfield;
    width: 80px;
    margin-left: 10px;
    padding: 2px 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-color-1);
    border-bottom: 1px solid var(--grey-background-5);
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box input[type="number"]::-webkit-outer-spin-button,
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.page_filter .filter_inner .filter_content .filter_box .box_items .range_fields .field_box i {
    position: relative;
    margin-left: 10px;
    font-size: 14px;
    color: var(--dark-color-1);
}




/* ============ Anroid popup ============ */

.anroid_popup_wrapper  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-background);
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 999;
    transition: all 0.5s;
}
.anroid_popup_wrapper.active{
    display: none;
}
.anroid_popup_wrapper .modal_close  {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.anroid_popup_wrapper .modal_close a {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--light-background);
    color: var(--dark-color-1);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.anroid_popup_wrapper .popup_box  {
    position: relative;
    width: 100%;
    display: flex;
    background: var(--light-background);
    border-radius: 20px 20px 0 0;
    flex-direction: column;
    overflow: hidden;
}
.anroid_popup_wrapper .popup_box .popup_banner  {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
}
.anroid_popup_wrapper .popup_box .popup_banner img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.anroid_popup_wrapper .popup_box .popup_logo_sec {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.anroid_popup_wrapper .popup_box .popup_logo_sec .logo {
    position: absolute;
    top: -25px;
    left: 50%;
    display: flex;
    padding: 5px;
    transform: translateX(-50%);
    background: var(--light-background);
    border-radius: 4px
}
.anroid_popup_wrapper .popup_box .popup_logo_sec .logo img {
    position: relative;
    width: 170px;
}
.anroid_popup_wrapper .popup_box .popup_contents {
    position: relative;
    width: 100%;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anroid_popup_wrapper .popup_box .popup_contents p {
    position: relative;
    font-size: 16px;
    color: var(--dark-color-1);
}
.anroid_popup_wrapper .popup_box .popup_contents h2 {
    position: relative;
    font-size: 32px;
    color: var(--dark-color-1);
    font-weight: 700;
    margin-top: 15px;
}
.anroid_popup_wrapper .popup_box .popup_contents span {
    position: relative;
    font-size: 15px;
    color: var(--dark-color-1);
    letter-spacing: 2px;
    margin-top: 8px;
}
.anroid_popup_wrapper .popup_box .popup_contents button {
    position: relative;
    width: 100%;
    display: flex;
    padding: 13px 0;
    color: var(--light-color);
    background: var(--theme-color);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}
.anroid_popup_wrapper .popup_box .popup_contents a {
    position: relative;
    margin-top: 10px;
    font-size: 13px;
    color: var(--theme-color);
    font-weight: 500;
    cursor: pointer;
}


@media (max-width: 575px) {
    .anroid_popup_wrapper {
        display: flex;
    }
}