/* ========== Nav bar ========== */

.navbar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}
.navbar .nav_top {
    position: relative;
    width: 100%;
    height: 70px;
    background: var(--grey-background-1);
    border: 1px solid var(--light-border);
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 0 35px;
    padding-right: 0;
}
.navbar .nav_top .top_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar .nav_top .top_inner .offer_sec {
    position: relative;
    display: flex;
    align-items: center;
}
.navbar .nav_top .top_inner .offer_sec img {
    position: relative;
    width: 25px;
    height: auto;
    margin-right: 15px;
}
.navbar .nav_top .top_inner .offer_sec p {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-color);
}
.navbar .nav_top .top_inner .offer_sec p a {
    position: relative;
    font-weight: 700;
    color: var(--theme-color);
}

.navbar .nav_top .top_inner .top_item_sec {
    position: relative;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navbar .nav_top .top_inner .top_item_sec .location_sec {
    position: relative;
    display: flex;
    align-items: center;
}
.navbar .nav_top .top_inner .top_item_sec .location_sec img {
    position: relative;
    width: 25px;
    height: auto;
}
.navbar .nav_top .top_inner .top_item_sec .location_sec p {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--dark-color);
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
}
.navbar .nav_top .top_inner .top_item_sec .location_sec a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--theme-color);
    cursor: pointer;
}

.navbar .nav_top .top_inner .top_item_sec .cart_sec {
    position: relative;
    margin-left: 60px;
    height: 100%;
    display: flex;
    background: rgba(2, 134, 67, 1);
    border-radius: 0 0 12px 12px;
}
.navbar .nav_top .top_inner .top_item_sec .cart_sec .cart_btn {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}
.navbar .nav_top .top_inner .top_item_sec .cart_sec .cart_btn img {
    position: relative;
    width: 40px;
    height: auto;
    cursor: pointer;
}
.navbar .nav_top .top_inner .top_item_sec .cart_sec .cart_item_count,
.navbar .nav_top .top_inner .top_item_sec .cart_sec .cart_price {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}
.navbar .nav_top .top_inner .top_item_sec .cart_sec .cart_item_count p,
.navbar .nav_top .top_inner .top_item_sec .cart_sec .cart_price p {
    font-size: 16px;
    font-weight: 600;
    color: var(--light-color);
}
.navbar .nav_top .top_inner .top_item_sec .cart_sec .forward_btn {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.425);
}
.navbar .nav_top .top_inner .top_item_sec .cart_sec .forward_btn img {
    position: relative;
    width: 38px;
    height: auto;
    cursor: pointer;
}


.navbar .nav_bottom {
    position: relative;
    width: 100%;
    padding: 30px 0;
}
.navbar .nav_bottom .bottom_inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar .nav_bottom .bottom_inner .logo {
    position: relative;
    display: flex;
}
.navbar .nav_bottom .bottom_inner .logo img {
    position: relative;
    height: 50px;
    width: auto;
}

.navbar .nav_bottom .bottom_inner .nav_items {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar .nav_bottom .bottom_inner .nav_items li {
    position: relative;
    list-style: none;
    margin: 0 2px;
}
.navbar .nav_bottom .bottom_inner .nav_items li a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark-color);
    border-radius: 120px;
    transition: all 0.5s;
}
.navbar .nav_bottom .bottom_inner .nav_items li a:hover {
    background: var(--theme-light-color);
    transition: all 0.5s;
}
.navbar .nav_bottom .bottom_inner .nav_items li a.active {
    background: var(--theme-color);
    color: var(--light-color);
    transition: all 0.5s;
}

.navbar .nav_bottom .bottom_inner .auth_btn {
    position: relative;
    margin-left: 25px;
}
.navbar .nav_bottom .bottom_inner .auth_btn a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 35px;
    background: var(--dark-color);
    border-radius: 120px;
    cursor: pointer;
}
.navbar .nav_bottom .bottom_inner .auth_btn a img {
    position: relative;
    width: 30px;
    height: auto;
}
.navbar .nav_bottom .bottom_inner .auth_btn a span {
    position: relative;
    margin-left: 8px;
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
}






/* ========== Footer ========== */

.footer {
    position: relative;
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer .footer_top {
    position: relative;
    width: 100%;
    padding: 80px 100px;
    padding-bottom: 50px;
    background: var(--grey-background-3);
}

.footer .footer_top .top_inner {
    position: relative;
    width: 100%;
    display: flex;
}
.footer .footer_top .top_inner .left_part {
    position: relative;
    width: 450px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}
.footer .footer_top .top_inner .left_part .footer_logo {
    position: relative;
    display: flex;
}
.footer .footer_top .top_inner .left_part .footer_logo img {
    position: relative;
    height: 65px;
    width: max-content;
}
.footer .footer_top .top_inner .left_part .btn_sec {
    position: relative;
    margin-top: 25px;
    display: flex;
}
.footer .footer_top .top_inner .left_part .btn_sec a {
    position: relative;
    cursor: pointer;
    display: flex;
}
.footer .footer_top .top_inner .left_part .btn_sec a:last-child {
    position: relative;
    margin-left: 5px;
}
.footer .footer_top .top_inner .left_part .btn_sec a img {
    position: relative;
    height: 50px;
}
.footer .footer_top .top_inner .left_part p {
    position: relative;
    margin-top: 20px;
    font-size: 15px;
    color: var(--dark-color);
}

.footer .footer_top .top_inner .right_part {
    position: relative;
    width: calc(100% - 450px);
    padding-left: 50px;
    display: flex;
}
.footer .footer_top .top_inner .right_part .subscribe_sec {
    position: relative;
    width: 50%;
    padding-right: 25px;
}
.footer .footer_top .top_inner .right_part .subscribe_sec h4 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-color-1);
}
.footer .footer_top .top_inner .right_part .subscribe_sec .input_sec {
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 60px;
}
.footer .footer_top .top_inner .right_part .subscribe_sec .input_sec input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px 30px;
    padding-right: 210px;
    border-radius: 120px;
    background: var(--grey-background-5);
    font-size: 15px;
    color: var(--dark-color-1);
}
.footer .footer_top .top_inner .right_part .subscribe_sec .input_sec button {
    position: absolute;
    top: 0;
    right: 0;
    width: 190px;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: var(--theme-color);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: var(--light-color);
}
.footer .footer_top .top_inner .right_part .subscribe_sec p {
    position: relative;
    padding-left: 25px;
    margin-top: 15px;
    font-size: 13px;
    color: var(--dark-color-1);
}
.footer .footer_top .top_inner .right_part .subscribe_sec p a {
    color: var(--dark-color-1);
}
.footer .footer_top .top_inner .right_part .subscribe_sec .social_media {
    position: relative;
    padding-left: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.footer .footer_top .top_inner .right_part .subscribe_sec .social_media a {
    position: relative;
    display: flex;
    cursor: pointer;
    margin-right: 15px;
}
.footer .footer_top .top_inner .right_part .subscribe_sec .social_media a img {
    position: relative;
    width: 45px;
}
.footer .footer_top .top_inner .right_part .links_sec {
    position: relative;
    width: 50%;
    display: flex;
}
.footer .footer_top .top_inner .right_part .links_sec .link_box {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.footer .footer_top .top_inner .right_part .links_sec .link_box h5 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-color-1);
}
.footer .footer_top .top_inner .right_part .links_sec .link_box ul {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.footer .footer_top .top_inner .right_part .links_sec .link_box ul a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    text-decoration: none;
    font-size: 15px;
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.5s;
}
.footer .footer_top .top_inner .right_part .links_sec .link_box ul a:hover {
    color: var(--theme-color);
    transition: all 0.5s;
}
.footer .footer_top .top_inner .right_part .links_sec .link_box ul a i {
    position: relative;
    font-size: 15px;
    margin-right: 5px;
    transition: all 0.5s;
}
.footer .footer_top .top_inner .right_part .links_sec .link_box ul a:hover i {
    margin-right: 15px;
    transition: all 0.5s;
}

.footer .footer_bottom {
    position: relative;
    width: 100%;
    padding: 25px 100px;
    background: var(--dark-color-1);
}
.footer .footer_bottom .bottom_inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer_bottom .bottom_inner p {
    position: relative;
    font-size: 15px;
    color: var(--light-color);
}
.footer .footer_bottom .bottom_inner ul {
    position: relative;
    display: flex;
    align-items: center;
}
.footer .footer_bottom .bottom_inner ul a {
    position: relative;
    text-decoration: none;
    color: var(--light-color);
    margin-right: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
.footer .footer_bottom .bottom_inner ul a:hover {
    color: var(--theme-color);
}
.footer .footer_bottom .bottom_inner ul span {
    position: relative;
    text-decoration: none;
    color: var(--light-color);
    font-size: 15px;
}