/* =============== Banner ============ */

.banner {
    position: relative;
    width: 100%;
    height: 475px;
    padding: 0 100px;
    margin-bottom: 70px;
}
.banner .sec_content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.banner .sec_content .sec_bacground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
}
.banner .sec_content .sec_bacground img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .sec_content .banner_items {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--banner-overlay);
    border-radius: 12px;
}
.banner .sec_content .banner_items .left_part {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner .sec_content .banner_items .left_part p {
    position: relative;
    font-size: 20px;
    line-height: 1;
    color: var(--dark-color-1);
}
.banner .sec_content .banner_items .left_part h2 {
    position: relative;
    font-size: 54px;
    font-weight: 600;
    color: var(--dark-color-1);
}
.banner .sec_content .banner_items .left_part .btn_sec {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.banner .sec_content .banner_items .left_part .btn_sec button {
    position: relative;
    padding: 15px 35px;
    display: flex;
    align-items: center;
    background: var(--dark-color-1);
    border: none;
    border-radius: 120px;
    cursor: pointer;
}
.banner .sec_content .banner_items .left_part .btn_sec button:last-child {
    position: relative;
    margin-left: 15px;
}
.banner .sec_content .banner_items .left_part .btn_sec button img {
    position: relative;
    width: 34px;
    height: auto;
}
.banner .sec_content .banner_items .left_part .btn_sec button span {
    position: relative;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
}

.banner .sec_content .banner_items .right_part {
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: 100%;
    padding: 55px;
}
.banner .sec_content .banner_items .right_part .right_inner {
    position: relative;
    width: max-content;
    height: 100%;
    display: flex;
}
.banner .sec_content .banner_items .right_part .right_inner img {
    position: relative;
    height: 100%;
    width: auto;
}
.banner .sec_content .banner_items .right_part .right_inner .review_count_sec {
    position: absolute;
    bottom: -10px;
    left: -60px;
    width: 140px;
    background: var(--light-background);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
}
.banner .sec_content .banner_items .right_part .right_inner .review_count_sec h5 {
    position: relative;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    color: var(--dark-color-1);
}
.banner .sec_content .banner_items .right_part .right_inner .review_count_sec ul {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner .sec_content .banner_items .right_part .right_inner .review_count_sec ul i {
    position: relative;
    font-size: 16px;
    margin: 0 2px;
    color: var(--theme-color);
}
.banner .sec_content .banner_items .right_part .right_inner .review_count_sec p {
    position: relative;
    margin-top: 8px;
    font-size: 15px;
    color: var(--dark-color-1);
}

.banner .sec_content .banner_items .close_timing_btn {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
}
.banner .sec_content .banner_items .close_timing_btn a {
    position: relative;
    padding: 15px 60px;
    background: var(--theme-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
}
.banner .sec_content .banner_items .close_timing_btn a img {
    position: relative;
    width: 29px;
    height: auto;
}
.banner .sec_content .banner_items .close_timing_btn a span {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
    margin-left: 15px;
}

/* =============== Responsive start ============== */

@media (max-width: 1699px) {
    .banner .sec_content .banner_items .left_part {
        width: 50%;
    }
    .banner .sec_content .banner_items .left_part h2 {
        line-height: 1.1;
        margin-top: 10px;
    }
    .banner .sec_content .banner_items .left_part .btn_sec {
        flex-direction: column;
        align-items: flex-start;
    }
    .banner .sec_content .banner_items .left_part .btn_sec button:last-child {
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 1499px) {
    .banner {
        padding: 0 50px;
    }
    .banner .sec_content .banner_items .right_part .right_inner img {
        height: 80%;
    }
}

@media (max-width: 1150px) {
    .banner {
        height: max-content;
    }
    .banner .sec_content .sec_bacground {
        display: none;
    }
    .banner .sec_content .banner_items {
        height: max-content;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner .sec_content .banner_items .right_part {
        position: relative;
        top: inherit;
        right: inherit;
    }
    .banner .sec_content .banner_items .left_part {
        width: 100%;
        padding-top: 15px;
        align-items: center;
        text-align: center;
    }
    .banner .sec_content .banner_items .left_part .btn_sec {
        flex-direction: row;
    }
    .banner .sec_content .banner_items .left_part .btn_sec button:last-child {
        margin-left: 15px;
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    .banner .sec_content .banner_items .left_part p {
        font-size: 18px;
    }
    .banner .sec_content .banner_items .left_part h2 {
        font-size: 42px;
    }
    .banner .sec_content .banner_items .left_part .btn_sec {
        flex-direction: column;
    }
    .banner .sec_content .banner_items .left_part .btn_sec button:last-child {
        margin-left: 0;
        margin-top: 15px;
    }
    .banner .sec_content .banner_items .right_part .right_inner img {
        width: 450px;
        height: max-content;
    }
    .banner .sec_content .banner_items .right_part .right_inner .review_count_sec {
        width: 105px;
        padding: 15px;
    }
    .banner .sec_content .banner_items .right_part .right_inner .review_count_sec h5 {
        font-size: 35px;
    }
    .banner .sec_content .banner_items .right_part .right_inner .review_count_sec ul {
        margin-top: 7px;
    }
    .banner .sec_content .banner_items .right_part .right_inner .review_count_sec ul i {
        font-size: 11px;
    }
    .banner .sec_content .banner_items .right_part .right_inner .review_count_sec p {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .banner .sec_content .banner_items .right_part .right_inner img {
        width: 350px;
    }
}

@media (max-width: 575px) {
    .banner {
        padding: 0 35px;
    }
    .banner .sec_content .banner_items .right_part {
        padding: 25px;
        padding-top: 35px;
        padding-left: 80px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .banner .sec_content .banner_items .right_part .right_inner {
        width: 100%;
    }
    .banner .sec_content .banner_items .right_part .right_inner img {
        width: 100%;
    }
    .banner .sec_content .banner_items .left_part {
        padding: 30px;
        padding-top: 15px;
        padding-bottom: 55px;
    }
    .banner .sec_content .banner_items .left_part p {
        font-size: 16px;
    }
    .banner .sec_content .banner_items .left_part h2 {
        font-size: 28px;
    }
    .banner .sec_content .banner_items .left_part .btn_sec {
        width: 100%;
    }
    .banner .sec_content .banner_items .left_part .btn_sec button {
        width: 100%;
        justify-content: center;
        padding: 17px 35px;
    }
    .banner .sec_content .banner_items .left_part .btn_sec button img {
        width: 26px;
    }
    .banner .sec_content .banner_items .left_part .btn_sec button span {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .banner {
        padding: 0 25px;
    }
}

/* =============== Responsive end ============== */

/* ========== pizza order section ============ */

.pizza_order_sec {
    position: relative;
    width: 100%;
    padding: 25px 100px;
}

.pizza_order_sec .sec_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .sec_head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pizza_order_sec .sec_inner .sec_head h3 {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-color);
}

.pizza_order_sec .sec_inner .sec_head .search_sec {
    position: relative;
    width: 345px;
    height: 63px;
    display: flex;
    border: 1px solid var(--light-border);
    border-radius: 120px;
    align-items: center;
    padding: 0 20px;
}

.pizza_order_sec .sec_inner .sec_head .search_sec img {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.pizza_order_sec .sec_inner .sec_head .search_sec input {
    position: relative;
    width: calc(100% - 25px);
    height: 60px;
    display: flex;
    background: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

.pizza_order_sec .sec_inner .inner_body{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.pizza_order_sec .sec_inner .inner_body .left_part{
    position: relative;
    width: 365px;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items{
    position: relative;
    width: 100%;
    display: flex;
    border: 1px solid var(--light-border);
    border-radius: 12px;
    flex-direction: column;
    background-color: var(--grey-background-1);
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 20px;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items img{
    position: relative;
    width: 55px;
    height: auto;
    display: flex;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items h5{
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: 600;
    margin-left: 15px;
    color: var(--dark-color);
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items .dropdown_btn{
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items .dropdown_btn p{
    position: relative;
    font-size: 16px;
    color: var(--dark-color);
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items .dropdown_btn img{
    position: relative;
    margin-left: 15px;
    width: 30px;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .bottom_items{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .bottom_items li{
    position: relative;
    width: 100%;
    list-style: none;
    margin-bottom: 10px;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .bottom_items li a{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--dark-color);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    cursor: pointer;
    transition: all 0.5s;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .bottom_items li a.item.active{
    background: var(--dark-color);
    color: #fff;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .bottom_items li:hover a{
    background: var(--light-border);
    color: var(--dark-color-1);
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img{
    position: relative;
    width: 365px;
    height: 325px;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 20px;
}


.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img img {
    position: relative;
    width: 100%;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img .box_content {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(45deg, rgba(3, 8, 31, 0.89) 10%, rgba(3, 8, 31, 0.19) 60%, rgba(255, 255, 255, 0) 100%);
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img .box_content p {
    position: relative;
    font-size: 16px;
    color: var(--theme-color);
    font-weight: 500;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img .box_content h3 {
    position: relative;
    font-size: 22px;
    color: var(--light-color);
    font-weight: 700;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img .box_content span {
    position: absolute;
    top: 0;
    left: 20px;
    width: 67px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--light-color);
    background: var(--dark-color);
    border-radius: 0 0 12px 12px;
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img .box_content a {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 12px;
    background: rgba(255, 255, 255, 0.864);
}

.pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img .box_content a img {
    position: relative;
    width: 40px;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .middle_part{
    position: relative;
    width: calc(100% - 730px);
    padding: 0 20px;
    margin-top: 30px;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part h3 {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-color);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part .search_sec {
    position: relative;
    width: 270px;
    height: 50px;
    display: flex;
    border: 1px solid var(--light-border);
    border-radius: 120px;
    align-items: center;
    padding: 0 20px;
    background: var(--grey-background-2);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part .search_sec img {
    position: relative;
    width: 25px;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part .search_sec p {
    position: relative;
    width: calc(100% - 25px);
    height: 100%;
    display: flex;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box {
    position: relative;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    border-radius: 12px;
    margin-top: 20px;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left {
    position: relative;
    width: calc(100% - 200px);
    display: flex;
    padding-right: 25px;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner h5 {
    position: relative;
    width: 100%;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color-1);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner .chili_imgs {
    position: relative;
    width: 100%;
    display: flex;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner .chili_imgs a {
    position: relative;
    width: 22px;
    height: 22px;
    display: flex;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner .chili_imgs a img {
    position: relative;
    width: 100%;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner .item_description {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left .content_inner .item_description p {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_right {
    position: relative;
    width: 190px;
    height: 190px;
    display: flex;
    border-radius: 50%;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_right img {
    position: relative;
    width: 100%;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs{
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .top_btn{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .top_btn button{
    position: relative;
    width: 190px;
    height: 55px;
    border: 1px solid var(--light-border);
    display: flex;
    padding: 8px 13px;
    padding-right: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 15px;
    margin-bottom: 15px;
    background: var(--light-color);
    color: var(--dark-color-1);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .top_btn button:first-child{
    background-color: var(--dark-color-1);
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .top_btn button:last-child{
    margin-right: 0;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .top_btn button a {
    position: relative;
    padding: 10px 22px;
    border: 1px solid var(--light-border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--green-color);
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .bottom_btn{
    position: relative;
    width: 100%;
    display: flex;
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .bottom_btn button {
    position: relative;
    width: 280px;
    height: 55px;
    border: 1px solid var(--light-border);
    display: flex;
    padding: 8px 13px;
    padding-right: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
    background: var(--light-color);
    color: var(--dark-color-1);
}

.pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .btn_boxs .bottom_btn button a {
    position: relative;
    padding: 10px 22px;
    border: 1px solid var(--light-border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--green-color);
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part{
    position: relative;
    width: 365px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .top_part{
    position: relative;
    width: 100%;
    height: 125px;
    display: flex;
    border-radius: 12px;
    background: var(--theme-color);
    align-items: center;
    justify-content: center;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .top_part .img{
    position: relative;
    width: 58px;
    height: 58px;
    display: flex;
    margin-right: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .top_part .img img{
    position: relative;
    width: 100%;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .top_part h6{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid var(--light-border);
    border-radius: 12px;
    overflow: hidden;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_head_sec{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-color: var(--green-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_head_sec .head_img{
    position: relative;
    width: 58px;
    height: 58px;
    display: flex;
    margin-right: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_head_sec .head_img img{
    position: relative;
    width: 100%;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_head_sec h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box{
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--light-border);
    align-items: center;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_number{
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-color);
    border-radius: 50%;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_number h3{
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_des{
    position: relative;
    width: calc(100% - 80px);
    padding-left: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_des h4{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--green-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_des h6{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color-1);
    margin: 3px 0;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_des p{
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: var(--dark-color-1);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_action{
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    cursor: pointer;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_item_sec .item_box .item_action img{
    position: relative;
    width: 100%;
    height: auto;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_price_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    border-bottom: 1px solid var(--light-border);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_price_sec h4{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color);
    margin-top: 10px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_price_sec h4:first-child{
    margin-top: 0;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .cart_price_sec h4 span{
    position: relative;
    font-size: 24px;
    font-weight: 400;
    color: var( --dark-color-1);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .price_total{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .price_total button{
    position: relative;
    width: 342px;
    height: 70px;
    display: flex;
    border-radius: 8px;
    background-color: var(--theme-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border: none;
    cursor: pointer;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .price_total button h6{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .price_total button h2{
    position: relative;
    font-size: 36px;
    font-weight: 600;
    color: var(--light-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .search_sec{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 0 15px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .search_sec .sec_box{
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    border: 1px solid var(--light-border);
    border-radius: 120px;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .search_sec .sec_box img{
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .search_sec .sec_box input{
    position: relative;
    width: calc(100% - 25px);
    height: 60px;
    display: flex;
    background: transparent;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 500;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--light-border);
    padding: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box{
    position: relative;
    width: 50%;
    display: flex;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box:first-child{
    padding-right: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box:last-child{
    padding-left: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box:first-child::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, var(--light-border));
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box .box_inner{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-border);
    padding: 15px 0;
    border-radius: 12px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box img {
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box h6 {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color);
    margin: 3px 0;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .delivary_sec .delivary_box p {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: var(--dark-color);
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .checkout_sec {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .checkout_sec button {
    position: relative;
    width: 342px;
    height: 70px;
    display: flex;
    border-radius: 8px;
    background-color: var(--green-color);
    align-items: center;
    padding: 0 25px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    color: var(--light-color);
    cursor: pointer;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .checkout_sec button a {
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    margin-right: 50px;
}

.pizza_order_sec .sec_inner .inner_body .right_part .right_part_inner .bottom_part .checkout_sec button a img {
    position: relative;
    width: 100%;
    height: auto;
}


/* =============== Responsive start ============== */

@media (max-width: 1599px) {
    .pizza_order_sec .sec_inner .inner_body .middle_part {
        width: calc(100% - 365px);
        padding-right: 0;
    }
    .pizza_order_sec .sec_inner .inner_body .right_part {
        display: none;
    }
}

@media (max-width: 1499px) {
    .pizza_order_sec {
        padding: 25px 50px;
    }
}

@media (max-width: 1199px) {
    .pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box {
        flex-direction: column-reverse;
    }
    .pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec .pizza_box .inner_box .content_box .content_left {
        width: 100%;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .pizza_order_sec .sec_inner .sec_head {
        flex-direction: column-reverse;
        text-align: center;
    }
    .pizza_order_sec .sec_inner .sec_head .search_sec {
        width: 100%;
        margin-bottom: 20px;
    }
    .pizza_order_sec .sec_inner .sec_head h3 {
        font-size: 22px;
    }
    .pizza_order_sec .sec_inner .inner_body {
        flex-direction: column;
    }
    .pizza_order_sec .sec_inner .inner_body .left_part {
        width: 100%;
    }
    .pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items {
        padding: 10px 20px;
    }
    .pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .bottom_items {
        display: none;
    }
    .pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_img {
        display: none;
    }
    .pizza_order_sec .sec_inner .inner_body .middle_part {
        width: 100%;
        padding-left: 0;
    }
    .pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part {
        padding: 0;
    }
    .pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .pizza_type_sec {
        margin-top: 0;
    }
}

@media (max-width: 575px) {
    .pizza_order_sec {
        padding: 25px 35px;
    }
    .pizza_order_sec .sec_inner .sec_head h3 {
        font-size: 18px;
    }
    .pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items img {
        width: 50px;
    }
    .pizza_order_sec .sec_inner .inner_body .left_part .left_part_inner .inner_items .top_items h5 {
        font-size: 25px;
    }
    .pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part h3 {
        font-size: 22px;
    }
    .pizza_order_sec .sec_inner .inner_body .middle_part .middle_part_inner .head_part .search_sec {
        width: 220px;
    }
}

@media (max-width: 450px) {
    .pizza_order_sec {
        padding: 25px 25px;
    }
}

/* =============== Responsive end ============== */



/* ======== about section ================ */

.about_sec {
    position: relative;
    margin-top: 35px;
    width: 100%;
    padding: 50px 100px;
}

.about_sec .sec_content {
    position: relative;
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, rgba(238, 238, 238, 1), rgba(224, 225, 220, 1));
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow:  5px 8px 12px rgba(0,0,0,0.2);
    overflow: hidden;
}

.about_sec .sec_content .content_box {
    position: relative;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
}

.about_sec .sec_content .content_box:last-child {
    background: var(--dark-color-1);
}


.about_sec .sec_content .content_box .box_head {
    position: relative;
    width: 100%;
    display: flex;
    
}

.about_sec .sec_content .content_box .box_head img {
    position: relative;
    width: 45px;
    height: auto;
}

.about_sec .sec_content .content_box .box_head h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
    color: var(--dark-color);
}

.about_sec .sec_content .content_box:last-child .box_head h3 {
    color: var(--light-color);
}

.about_sec .sec_content .content_box .box_item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.about_sec .sec_content .content_box .box_item p {
    position: relative;
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 700;
    line-height: 2.3;
}

.about_sec .sec_content .content_box:last-child .box_item p {
    color: var(--light-color);
}

.about_sec .sec_content .content_box .box_item p span {
    position: relative;
    font-size: 18px;
    color: #555;
    font-weight: 500;
    margin-top: 15px;
}

.about_sec .sec_content .content_box:last-child .box_item p span {
    color: var(--light-color);
}




/* ================= online location section ================ */
.online_location_sec {
    position: relative;
    width: 100%;
    height: 650px;
    padding: 50px 100px;
}

.online_location_sec .sec_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.online_location_sec .sec_inner iframe {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 12px;
}

.online_location_sec .sec_inner .location_details {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 360px;
    height: 440px;
    padding: 70px 30px;
    background: var(--dark-color-1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.online_location_sec .sec_inner .location_details h3 {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: var(--light-color);
}

.online_location_sec .sec_inner .location_details h6 {
    position: relative;
    font-size: 17px;
    font-weight: 600;
    color: var(--theme-color);
}

.online_location_sec .sec_inner .location_details p {
    position: relative;
    font-size: 16px;
    color: var(--grey-background-1);
    margin-top: 12px;
}

.online_location_sec .sec_inner .location_details span {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: var(--light-color);
    margin-top: 10px;
}

.online_location_sec .sec_inner .location_details a {
    position: relative;
    font-size: 17px;
    color: var(--theme-color);
}




/* =========== review section ============= */

.review_sec {
    position: relative;
    width: 100%;
    height: 600px;
    background: var( --grey-background-4);
    padding: 100px 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.review_sec .sec_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review_sec .sec_content .sec_head {
    position: relative;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review_sec .sec_content .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
}

.review_sec .sec_content .sec_head .slider_btn_sec {
    position: relative;
    display: flex;
    align-items: center;
}
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-prev,
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-next {
    position: relative;
    left: inherit;
    right: inherit;
    top: inherit;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--theme-color);
    border-radius: 50%;
}
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-next {
    margin-left: 15px;
}
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-prev::after,
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-next::after {
    display: none;
}
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-prev i,
.review_sec .sec_content .sec_head .slider_btn_sec .swiper-button-next i {
    position: relative;
    font-size: 30px;
    color: var(--light-color);
}

.review_sec .sec_content .sec_items {
    position: relative;
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review_sec .sec_content .sec_items .swiper {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide {
    position: relative;
    width: 33.33%;
    padding: 0 10px;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box {
    position: relative;
    width: 100%;
    background: var(--light-background);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .img {
    position: relative;
    width: 85px;
    padding: 0 10px;
    height: 54px;
    display: flex;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .img img {
    position: relative;
    width: 54px;
    height: auto;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .img::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, var(--theme-color));
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .content {
    position: relative;
    width: calc(100% - 274px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .content h5 {
    position: relative;
    font-size: 19px;
    font-weight: 600;
    color: var(--dark-color);
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .content p {
    position: relative;
    font-size: 16px;
    color: var(--theme-color);
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .rating {
    position: relative;
    width: 220px;
    display: flex;
    flex-direction: column;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .rating a {
    position: relative;
    font-size: 18px;
    color: var(--theme-color);
    display: flex;
    justify-content: flex-end;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .rating a i {
    margin-left: 5px;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .rating p {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
    font-size: 15px;
    color: var(--dark-color);
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .top_box .rating p img {
    position: relative;
    width: 23px;
    height: auto;
    margin-right: 12px;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .bottom_box {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 40px;
    padding: 0 15px;
}

.review_sec .sec_content .sec_items .swiper .swiper-slide .review_box .bottom_box p {
    font-size: 17px;
    color: var(--dark-color);
    font-weight: 400;
}

.review_sec .sec_review_count {
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.review_sec .sec_review_count .count_inner {
    position: relative;
    width: 150px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-background);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
}

.review_sec .sec_review_count .count_inner h6 {
    position: relative;
    font-size: 50px;
    color: var(--dark-color);
}

.review_sec .sec_review_count .count_inner a {
    position: relative;
    font-size: 18px;
    color: var(--theme-color);
    display: flex;
}

.review_sec .sec_review_count .count_inner a i {
    margin-right: 5px;
}

.review_sec .sec_review_count .count_inner a i:last-child {
    color: var(--grey-background-5);
}

.review_sec .sec_review_count .count_inner p {
    font-size: 15px;
    color: #555;
    font-weight: 400;
    margin-top: 8px;
}




/* ========== similar restaurants section ========== */

.similar_restaurants_sec {
    position: relative;
    width: 100%;
    padding: 50px 100px;
}
.similar_restaurants_sec .sec_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.similar_restaurants_sec .sec_content .sec_head {
    position: relative;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.similar_restaurants_sec .sec_content .sec_head h3 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
}

.similar_restaurants_sec .sec_content .sec_items {
    position: relative;
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.similar_restaurants_sec .sec_content .sec_items .swiper {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.similar_restaurants_sec .sec_content .sec_items .swiper .swiper-slide {
    position: relative;
    width: 16.66%;
    padding: 0 10px;
}

.similar_restaurants_sec .sec_content .sec_items .swiper .swiper-slide .slide_box {
    position: relative;
    width: 100%;
    background: var(--theme-color);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.similar_restaurants_sec .sec_content .sec_items .swiper .swiper-slide .slide_box .box_img {
    position: relative;
    width: 100%;
    display: flex;
}

.similar_restaurants_sec .sec_content .sec_items .swiper .swiper-slide .slide_box .box_img img {
    position: relative;
    width: 100%;
    height: auto;
}

.similar_restaurants_sec .sec_content .sec_items .swiper .swiper-slide .slide_box .box_brief {
    position: relative;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
}

.similar_restaurants_sec .sec_content .sec_items .swiper .swiper-slide .slide_box .box_brief h4 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: var(--light-color);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
