.restaurant_products_section {
    position: relative;
    width: 100%;
    padding: 0 100px;
    display: flex;
}
.restaurant_products_section .left_section {
    position: relative;
    width: 350px;
    height: 100vh;
    background: #FFF;
    border: 1px solid var( --light-border);
    /* box-shadow: 5px 0 15px rgba(0,0,0,0.2); */
}


.restaurant_products_section .left_section .filter_inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.restaurant_products_section .left_section .filter_inner .filter_head {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 2px double var(--dark-color);
}
.restaurant_products_section .left_section .filter_inner .filter_head h3 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: var(--theme-color);
}

.restaurant_products_section .left_section .filter_inner .filter_content {
    position: relative;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
.restaurant_products_section .left_section .filter_inner .filter_content::-webkit-scrollbar {
    display: none;
}

.restaurant_products_section .left_section .filter_inner .filter_content .filter_box {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grey-background-5);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box:last-child {
    border-bottom: none;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_head {
    position: relative;
    width: 100%;
    padding: 15px 30px;
    border-bottom: 1px solid var(--grey-background-5);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_head h5 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-color-1);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items.foodType {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items.categories label {
    margin-bottom: 20px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label:last-child {
    margin-bottom: 0;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items.foodType label {
    width: 50%;
    margin-bottom: 0;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label input[type="checkbox"] {
    display: none;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label .check_box {
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid var(--grey-background-5);
    border-radius: 4px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label .check_box img {
    position: absolute;
    left: 2px;
    bottom: 3px;
    width: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label p {
    position: relative;
    font-size: 16px;
    margin-left: 8px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label input[type="checkbox"]:checked ~ .check_box img {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}

.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label input[type="radio"] {
    display: none;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label .radio_box {
    position: relative;
    width: 23px;
    height: 23px;
    border: 3px solid var(--grey-background-5);
    border-radius: 50%;
    transition: all 0.5s ease;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label input[type="radio"]:checked ~ .radio_box {
    border: 6px solid var(--theme-color);
    transition: all 0.5s ease;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label .stars {
    position: relative;
    margin-left: 12px;
    display: flex;
    align-items: center;   
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items label .stars i {
    position: relative;
    margin-right: 7px; 
    font-size: 18px;
    color: #ffe234;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_slider {
    position: relative;
    width: 100%;
    height: 5px;
    background: var(--grey-background-4);
    border-radius: 20px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_slider .progress {
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    border-radius: 20px;
    background: var(--theme-color);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input {
    position: relative;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: var(--theme-color);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_slider_sec .range_input input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--theme-color);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields .field_box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields .field_box:last-child {
    margin-bottom: 0;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields .field_box span {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-color-1);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields .field_box input {
    position: relative;
    -moz-appearance: textfield;
    width: 80px;
    margin-left: 10px;
    padding: 2px 5px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark-color-1);
    border-bottom: 1px solid var(--grey-background-5);
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields .field_box input[type="number"]::-webkit-outer-spin-button,
.restaurant_products_section .left_section.filter_inner .filter_content .filter_box .box_items .range_fields .field_box input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.restaurant_products_section .left_section .filter_inner .filter_content .filter_box .box_items .range_fields .field_box i {
    position: relative;
    margin-left: 10px;
    font-size: 14px;
    color: var(--dark-color-1);
}





.restaurant_products_section .right_section {
    position: relative;
    width: calc(100% - 350px);
    padding-left: 30px;
}
.restaurant_products_section .right_section .sec_inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    border-radius: 12px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_background{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_background .swiper {
    position: relative;
    width: 100%;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_background .swiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_background .swiper .swiper-slide .img {
    position: relative;
    width: 100%;
    height: 100%;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_background .swiper .swiper-slide .img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(3, 8, 31, 0.89) 10%, rgba(3, 8, 31, 0.19) 60%, rgba(255, 255, 255, 0) 100%);
    padding: 50px 55px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    align-items: flex-end;
    z-index: 15;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_left {
    position: relative;
    width: 55%;
    padding-right: 40px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .head_part {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .head_part p {
    position: relative;
    color: var(--light-color);
    font-size: 16px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .head_part h4 {
    position: relative;
    color: var(--theme-color);
    font-size: 55px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 3px;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating {
    position: relative;
    width: 100%;
    display: flex;
    align-items: baseline;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating h4 {
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: var(--light-color);
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating a {
    position: relative;
    color: var(--theme-color);
    margin-left: 10px;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating a i {
    position: relative;
    font-size: 18px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating span {
    color: var(--light-color);
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .location_sec a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--light-color);
    font-size: 18px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .location_sec a i {
    margin-right: 8px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .avalability_status {
    position: relative;
    width: 100%;
    display: flex;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .avalability_status p {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .avalability_status p.open {
    color: var(--veg-color);
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .avalability_status p.close {
    color: var(--red-color);
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .avalability_status p.closing-soon {
    color: var(--yellow-color);
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 35px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--light-color);
    font-weight: 500;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p i {
    color: var(--green-color-2);
    margin-right: 8px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p span {
    color: var(--green-color-2);
    margin-left: 8px;
    font-weight: 600;
    font-size: 25px;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: flex-end;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right .swiper {
    position: relative;
    width: max-content;
    height: 100px;
    margin: 0;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right .swiper .swiper-slide {
    position: relative;
    width: 175px;
    height: 100%;
    padding: 0 5px;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right .swiper .swiper-slide .img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px 2px;
    background: #FFF;
    opacity: 0.6;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.479);
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right .swiper .swiper-slide.swiper-slide-thumb-active .img {
    opacity: 1;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right .swiper .swiper-slide .img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .pagination {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    opacity: 0.7;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .pagination .swiper-pagination {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    height: 100%;
}
.restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .pagination .swiper-pagination .swiper-pagination-progressbar-fill{
    background: var(--theme-color);
}




.restaurant_products_section .right_section .sec_inner .product_list_sec {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec .search_sec {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 25px;
    border: 1px solid var(--light-border);
    height: 60px;
    border-radius: 120px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec .search_sec img {
    position: relative;
    width: 45px;
    padding-right: 15px;
    border-right: 1px solid var(--light-border);
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec .search_sec input {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--dark-color-1);
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec button {
    position: relative;
    height: 60px;
    padding: 15px 55px;
    background: var(--theme-color);
    border: none;
    border-radius: 12px;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: none;
    align-items: center;
    margin-left: 25px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec button i {
    position: relative;
    font-size: 18px;
    margin-right: 8px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box {
    position: relative;
    width: 33.33%;
    padding: 10px;
    display: flex;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--light-border);
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    background: var(--light-background);
    padding: 20px;
    padding-left: 35px;
}
.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 12px;
    width: 6px;
    height: 70%;
    border-radius: 50px;
}
.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box.veg .box_inner::before {
    background: var(--veg-color);
}
.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box.non_veg .box_inner::before {
    background: var(--non-veg-color);
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif {
    position: relative;
    width: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif h4 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color-1);
    line-height: 1;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif p {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--dark-color-1);
    margin-top: 5px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 i {
    margin-left: 5px;
    color: var(--theme-color);
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 span {
    margin-left: 15px;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif a {
    position: relative;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    color: var( --dark-color-1);
    margin-top: 5px;
    cursor: pointer;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif a:hover {
   color: var(--theme-color);
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_img {
    position: relative;
    width: 160px;
    height: 130px;
    display: flex;
}

.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .add_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 73px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 24px;
    background: rgba(255, 255, 255, 0.864);
    cursor: pointer;
}
.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .add_btn a {
    position: absolute;
    top: 13px;
    left: 13px;
}
.restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .add_btn a img {
    position: relative;
    width: 30px;
    height: auto;
}



@media (max-width: 1850px) {
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box {
        width: 50%;
    }
} 

@media (max-width: 1499px) {
    .restaurant_products_section {
        padding: 0 40px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content {
        flex-direction: column;
        align-items: flex-start;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_left {
        width: 100%;
        padding-right: 0;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right {
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 1299px) {
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner {
        padding: 15px;
        padding-left: 25px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif {
        width: calc(100% - 110px);
        padding-right: 0;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_img {
        width: 110px;
        height: auto;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif h4 {
        font-size: 17px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif p {
        font-size: 14px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 {
        font-size: 14px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .product_brif a {
        font-size: 14px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .add_btn {
        width: 60px;
        height: 60px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .add_btn a {
        top: 10px;
        left: 10px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box .box_inner .add_btn a img {
        width: 25px;
    }
}

@media (max-width: 1099px) {
    .restaurant_products_section .left_section {
        display: none;
    }
    .restaurant_products_section .right_section {
        width: 100%;
        padding-left: 0;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec button {
        display: flex;
    }
}

@media (max-width: 768px) {
    .restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec {
        flex-direction: column;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec button {
        margin-top: 20px;
        margin-left: 0;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec {
        margin-top: 25px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .product_box_sec .product_box {
        width: 100%;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner {
        height: 420px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content {
       padding: 25px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .head_part h4 {
        font-size: 40px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details {
        margin-top: 25px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p {
        font-size: 18px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p span {
        font-size: 17px;
    }
}
@media (max-width: 575px) {
    .restaurant_products_section {
       padding: 0 25px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec .search_sec {
        height: 50px;
    }
    .restaurant_products_section .right_section .sec_inner .product_list_sec .list_head_sec button {
        height: 50px;
    }
} 

@media (max-width: 450px) {
    .restaurant_products_section {
       padding: 0 15px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner {
        height: 300px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .head_part h4 {
        font-size: 31px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating h4 {
        font-size: 14px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .restaurant_details .rating h4 {
        font-size: 14px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details {
        margin-top: 20px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p {
        font-size: 14px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .offer_details p span {
        font-size: 15px;
    }
    .restaurant_products_section .right_section .sec_inner .restaurant_banner .banner_content .content_right {
        display: none;
    }
}
