.restaurant_products_section {
    position: relative;
    width: 100%;
    padding: 0 100px;
}

.restaurant_products_section .sec_content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.restaurant_products_section .sec_content .restaurant_banner{
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    border-radius: 12px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_background{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_background .swiper {
    position: relative;
    width: 100%;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_background .swiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_background .swiper .swiper-slide .img {
    position: relative;
    width: 100%;
    height: 100%;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_background .swiper .swiper-slide .img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(3, 8, 31, 0.89) 10%, rgba(3, 8, 31, 0.19) 60%, rgba(255, 255, 255, 0) 100%);
    padding: 50px 55px;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    align-items: flex-end;
    z-index: 15;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_left {
    position: relative;
    width: 55%;
    padding-right: 40px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .head_part {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .head_part p {
    position: relative;
    color: var(--light-color);
    font-size: 16px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .head_part h4 {
    position: relative;
    color: var(--theme-color);
    font-size: 55px;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 3px;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating {
    position: relative;
    width: 100%;
    display: flex;
    align-items: baseline;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating h4 {
    position: relative;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: var(--light-color);
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating a {
    position: relative;
    color: var(--theme-color);
    margin-left: 10px;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating a i {
    position: relative;
    font-size: 18px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating span {
    color: var(--light-color);
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .location_sec a {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--light-color);
    font-size: 18px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .location_sec a i {
    margin-right: 8px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .avalability_status {
    position: relative;
    width: 100%;
    display: flex;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .avalability_status p {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .avalability_status p.open {
    color: var(--veg-color);
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .avalability_status p.close {
    color: var(--red-color);
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .avalability_status p.closing-soon {
    color: var(--yellow-color);
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 35px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: var(--light-color);
    font-weight: 500;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p i {
    color: var(--green-color-2);
    margin-right: 8px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p span {
    color: var(--green-color-2);
    margin-left: 8px;
    font-weight: 600;
    font-size: 25px;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right {
    position: relative;
    width: 45%;
    display: flex;
    justify-content: flex-end;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right .swiper {
    position: relative;
    width: max-content;
    height: 100px;
    margin: 0;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right .swiper .swiper-slide {
    position: relative;
    width: 175px;
    height: 100%;
    padding: 0 5px;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right .swiper .swiper-slide .img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px 2px;
    background: #FFF;
    opacity: 0.6;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.479);
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right .swiper .swiper-slide.swiper-slide-thumb-active .img {
    opacity: 1;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right .swiper .swiper-slide .img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.restaurant_products_section .sec_content .restaurant_banner .banner_content .pagination {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    opacity: 0.7;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .pagination .swiper-pagination {
    position: relative;
    top: inherit;
    left: inherit;
    width: 100%;
    height: 100%;
}
.restaurant_products_section .sec_content .restaurant_banner .banner_content .pagination .swiper-pagination .swiper-pagination-progressbar-fill{
    background: var(--theme-color);
}






.restaurant_products_section .sec_content .product_list_sec {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.restaurant_products_section .sec_content .product_list_sec .list_head_sec {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.restaurant_products_section .sec_content .product_list_sec .list_head_sec .search_sec {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 25px;
    border: 1px solid var(--light-border);
    height: 60px;
    border-radius: 120px;
}

.restaurant_products_section .sec_content .product_list_sec .list_head_sec .search_sec img {
    position: relative;
    width: 45px;
    padding-right: 15px;
    border-right: 1px solid var(--light-border);
}

.restaurant_products_section .sec_content .product_list_sec .list_head_sec .search_sec input {
    position: relative;
    width: 450px;
    height: 100%;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--dark-color-1);
}

.restaurant_products_section .sec_content .product_list_sec .list_head_sec button {
    position: relative;
    height: 60px;
    padding: 15px 55px;
    background: var(--theme-color);
    border: none;
    border-radius: 12px;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.restaurant_products_section .sec_content .product_list_sec .list_head_sec button i {
    position: relative;
    font-size: 18px;
    margin-right: 8px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box {
    position: relative;
    width: 25%;
    padding: 10px;
    display: flex;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--light-border);
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    background: var(--light-background);
    padding: 20px;
    padding-left: 35px;
}
.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 12px;
    width: 6px;
    height: 70%;
    border-radius: 50px;
}
.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box.veg .box_inner::before {
    background: var(--veg-color);
}
.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box.non_veg .box_inner::before {
    background: var(--non-veg-color);
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif {
    position: relative;
    width: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif h4 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-color-1);
    line-height: 1;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif p {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--dark-color-1);
    margin-top: 5px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 i {
    margin-left: 5px;
    color: var(--theme-color);
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 span {
    margin-left: 15px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif a {
    position: relative;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    color: var( --dark-color-1);
    margin-top: 5px;
    cursor: pointer;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif a:hover {
   color: var(--theme-color);
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_img {
    position: relative;
    width: 160px;
  height: 130px;
    display: flex;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_img img {
    position: relative;
    width: 100%;
    border-radius: 12px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner button {
    position: absolute;
    bottom: 26px;
    right: 36px;
    height: 40px;
    width: 120px;
    background-color: var(--light-background);
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--dark-color-1);
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec {
    position: absolute;
    bottom: 26px;
    right: 36px;
    height: 40px;
    width: 120px;
    background-color: var(--light-background);
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec a {
    position: relative;
    font-size: 15px;
    color: var(--dark-color-1);
    cursor: pointer;
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec .number {
    position: relative;
    width: 35px;
    height: 28px;
    border: 1px solid var(--light-border);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
}

.restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec .number p {
   font-size: 16px;
   color: var(--dark-color-1);
   font-weight: 600;
}


/* ================ Responsive Start ============== */

   @media (max-width: 1850px) {
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box {
            width: 33.33%;
        }
    } 
   @media (max-width: 1499px) {
        .restaurant_products_section {
            padding: 0 40px;
        }
    } 
   @media (max-width: 1299px) {
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box {
            width: 50%;
        }
    } 
   @media (max-width: 1050px) {
        .restaurant_products_section .sec_content .restaurant_banner .banner_content {
            flex-direction: column;
            align-items: flex-start;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .content_left {
            width: 100%;
            padding-right: 0;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right {
            width: 100%;
            margin-top: 20px;
        }
    } 
   @media (max-width: 991px) {
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif {
            padding-right: 0;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_img {
            width: 130px;
            height: 110px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec {
            bottom: 30px;
            height: 35px;
            width: 98px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner button {
            bottom: 30px;
            height: 34px;
            width: 98px;
        }
    } 
   @media (max-width: 876px) {
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box {
            width: 100%;
        }
        .restaurant_products_section .sec_content .product_list_sec .list_head_sec {
            flex-direction: column;
        }
        .restaurant_products_section .sec_content .product_list_sec .list_head_sec button {
            margin-top: 25px;
            margin-left: 0;
        }
    } 
   @media (max-width: 678px) {
        .restaurant_products_section .sec_content .restaurant_banner {
            height: 420px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content {
           padding: 25px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .head_part h4 {
            font-size: 40px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details {
            margin-top: 25px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p {
            font-size: 18px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p span {
            font-size: 17px;
        }
    } 
   @media (max-width: 575px) {
        .restaurant_products_section {
           padding: 0 25px;
        }
    } 
   @media (max-width: 450px) {
        .restaurant_products_section {
           padding: 0 15px;
        }
        .restaurant_products_section .sec_content .restaurant_banner {
            height: 300px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .head_part h4 {
            font-size: 31px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating h4 {
            font-size: 14px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .restaurant_details .rating h4 {
            font-size: 14px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details {
            margin-top: 20px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p {
            font-size: 14px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .offer_details p span {
            font-size: 15px;
        }
        .restaurant_products_section .sec_content .restaurant_banner .banner_content .content_right {
            display: none;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif {
            width: calc(100% - 110px);
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif h4 {
            font-size: 15px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif p {
            font-size: 13px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif h6 {
            font-size: 14px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_brif a {
            font-size: 14px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_img {
            width: 110px;
            height: 90px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec {
            bottom: 30px;
            right: 30px;
            height: 35px;
            width: 89px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec .number {
            width: 23px;
            height: 21px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec .number p {
            font-size: 13px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner .product_count_sec a {
            font-size: 13px;
        }
        .restaurant_products_section .sec_content .product_list_sec .product_box_sec .product_box .box_inner button {
            bottom: 30px;
            right: 30px;
            height: 34px;
            width: 89px;
            font-size: 13px;
        }
    } 

/* ================ Responsive End ============== */